body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

@font-face {
  font-family: 'BebasNeue Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BebasNeue-Bold.ttf'); /* IE9 Compat Modes */

}

@font-face {
  font-family: 'BebasNeue Book';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BebasNeue-Book.ttf'); /* IE9 Compat Modes */

}

@font-face {
  font-family: 'BebasNeue Light';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BebasNeue-Light.ttf'); /* IE9 Compat Modes */

}

@font-face {
  font-family: 'BebasNeue Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BebasNeue-Regular.ttf'); /* IE9 Compat Modes */

}


@font-face {
  font-family: 'BebasNeue Thin';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BebasNeue-Thin.ttf'); /* IE9 Compat Modes */

}
/* *{
  font-family: BebasNeue Thin,sans-serif;
} */

/* body {
  font-family: 'Open Sans';
} */

 /* .nav{
 background-color: yellow !important; 
}  */

  .text1{
    font-family: 'BebasNeue Bold' !important;
}

/* .home-div{
  background-image: url('./bg.jpg');
  height: '100vh',
} */

.polaroid{
 

  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}




.container{
  text-align: center;
  padding: 10px 20px;
  font-family: 'BebasNeue Bold' !important;

}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'BebasNeue Bold';
}
.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container2 {
  position: relative;
  width: 100%;
}